noderedflow.json
[{"id":"d28c22b3.095bd","type":"tab","label":"Meteo Mauritius Notifications","disabled":false,"info":""},{"id":"5e3cc110.5e20a","type":"sqlite","z":"d28c22b3.095bd","mydb":"ce13f78a.5d6b38","sqlquery":"msg.topic","sql":"","name":"ReadMeteoDB","x":740,"y":20,"wires":[["cbff891d.6cc318","e82cf4bc.81d628"]]},{"id":"27875beb.5e07b4","type":"inject","z":"d28c22b3.095bd","name":"CRON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 0-22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["3203ce53.c7d0a2"]]},{"id":"3203ce53.c7d0a2","type":"exec","z":"d28c22b3.095bd","command":"bash /home/kushal/checkmeteo.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get Meteo Info","x":300,"y":100,"wires":[["4c719ea6.0b1d8","ebe7945f.67ffa8","e82cf4bc.81d628"],["e82cf4bc.81d628"],["e82cf4bc.81d628"]]},{"id":"78988b62.423614","type":"debug","z":"d28c22b3.095bd","name":"MergeDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":280,"wires":[]},{"id":"f3c1af3c.c76e8","type":"function","z":"d28c22b3.095bd","name":"Push to sqlDB","func":"sql = \"INSERT INTO meteo(message) values ('\" + msg.payload[0] + \"')\";\nmsg.topic = sql;\nmsg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":180,"wires":[["7c1c9e0a.da048","78988b62.423614","1647c667.cc2f3a"]]},{"id":"5d31e9d6.f1f4e8","type":"inject","z":"d28c22b3.095bd","name":"Create Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE meteo(ID INTEGER PRIMARY KEY AUTOINCREMENT,message TEXT )","payload":"","payloadType":"date","x":110,"y":620,"wires":[["c88f2e48.c7f89"]]},{"id":"22d187b9.dd0108","type":"telegram sender","z":"d28c22b3.095bd","name":"KushalBot","bot":"91520e18.942d9","haserroroutput":false,"outputs":1,"x":1410,"y":420,"wires":[[]]},{"id":"6b45267a.9a5a88","type":"function","z":"d28c22b3.095bd","name":"Reformat-Telegram-text","func":"tempmsg = msg.payload;\nmsg.payload = {\n    content: tempmsg,\n    type: \"message\",\n    chatId: '691280591'\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1190,"y":380,"wires":[["22d187b9.dd0108","568c7cb9.e3b624","a24db297.9f50b"]]},{"id":"87544027.0934e","type":"switch","z":"d28c22b3.095bd","name":"Post if Not Null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1800,"y":40,"wires":[["7a98b95.6f4c048"]]},{"id":"8beada0f.50f758","type":"twitter out","z":"d28c22b3.095bd","twitter":"","name":"Tweet","x":1330,"y":180,"wires":[]},{"id":"17a7b5fe.fe8c1a","type":"function","z":"d28c22b3.095bd","name":"Reformat-Tweeter","func":"tempmsg = \"[Special Alert Meteo Mauritius] \\n \" + msg.payload;\nmsg.payload = tempmsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":220,"wires":[[]]},{"id":"6985a2c.8dda85c","type":"json","z":"d28c22b3.095bd","name":"","property":"payload","action":"obj","pretty":true,"x":1770,"y":80,"wires":[["87544027.0934e"]]},{"id":"7a98b95.6f4c048","type":"function","z":"d28c22b3.095bd","name":"Sanitize Output","func":"temp = msg.payload.message;\nmsg.payload=temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":220,"wires":[["17a7b5fe.fe8c1a"]]},{"id":"45a9667c.2260c8","type":"http request","z":"d28c22b3.095bd","name":"Get Image of Mauritius Meteo","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://apiimages.kushal.net/api/v1.0/meteomauritius/40/latest","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":380,"wires":[["fd2f19ba.366b98","78988b62.423614"]]},{"id":"fd2f19ba.366b98","type":"json","z":"d28c22b3.095bd","name":"Convert into JS obj","property":"payload","action":"obj","pretty":false,"x":470,"y":420,"wires":[["f8664521.e31068"]]},{"id":"f8664521.e31068","type":"function","z":"d28c22b3.095bd","name":"make URL of Image","func":"msg.url = msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["44e78052.b029d"]]},{"id":"44e78052.b029d","type":"http request","z":"d28c22b3.095bd","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":420,"wires":[["f9cccb1c.246aa8"]]},{"id":"f9cccb1c.246aa8","type":"change","z":"d28c22b3.095bd","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"media","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["4a72177f.9aed08"]]},{"id":"4c719ea6.0b1d8","type":"function","z":"d28c22b3.095bd","name":"Query Last record","func":"sql = \"SELECT * FROM meteo WHERE ID = (SELECT MAX(ID)  FROM meteo);\"\nmsg.topic = sql;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":120,"wires":[["5e3cc110.5e20a"]]},{"id":"ebe7945f.67ffa8","type":"join","z":"d28c22b3.095bd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1050,"y":100,"wires":[["cdc97cf4.69efa"]]},{"id":"cbff891d.6cc318","type":"function","z":"d28c22b3.095bd","name":"AppendSequence","func":"output = msg.payload[0]['message'];\nmsg.payload = output;\nmsg.complete='true';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":60,"wires":[["ebe7945f.67ffa8","e82cf4bc.81d628"]]},{"id":"cdc97cf4.69efa","type":"switch","z":"d28c22b3.095bd","name":"Not equal Checks ","property":"payload[0]","propertyType":"msg","rules":[{"t":"neq","v":"payload[1]","vt":"msg"},{"t":"eq","v":"payload[1]","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["f3c1af3c.c76e8","78988b62.423614"],["78988b62.423614"]]},{"id":"7c1c9e0a.da048","type":"sqlite","z":"d28c22b3.095bd","mydb":"ce13f78a.5d6b38","sqlquery":"msg.topic","sql":"","name":"WriteMeteoDB","x":720,"y":180,"wires":[[]]},{"id":"c88f2e48.c7f89","type":"sqlite","z":"d28c22b3.095bd","mydb":"ce13f78a.5d6b38","sqlquery":"msg.topic","sql":"","name":"createMeteoDB","x":380,"y":640,"wires":[["2069bd68.f7bbf2"]]},{"id":"e82cf4bc.81d628","type":"debug","z":"d28c22b3.095bd","name":"GetMeteo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":20,"wires":[]},{"id":"1647c667.cc2f3a","type":"function","z":"d28c22b3.095bd","name":"Message to Post","func":"specialmsg = \"#Mauritius Weather: \\n\" + msg.payload + \"Source: Meteo Mauritius\";\nmsg.specialmsg = specialmsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":240,"wires":[["45a9667c.2260c8","78988b62.423614"]]},{"id":"4a72177f.9aed08","type":"change","z":"d28c22b3.095bd","name":"","rules":[{"t":"move","p":"specialmsg","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":280,"wires":[["6b45267a.9a5a88","b0cb64ec.d43b18"]]},{"id":"568c7cb9.e3b624","type":"function","z":"d28c22b3.095bd","name":"Reformat-Telegram-image","func":"tempmsg = msg.payload;\nmsg.payload = {\n    content: msg.media,\n    type: \"photo\",\n    chatId: '691280591'\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":460,"wires":[["22d187b9.dd0108"]]},{"id":"6e8457d5.03f8a8","type":"inject","z":"d28c22b3.095bd","name":"Drop table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP table meteo","payload":"","payloadType":"date","x":100,"y":560,"wires":[["c88f2e48.c7f89"]]},{"id":"d619846.611f778","type":"inject","z":"d28c22b3.095bd","name":"create record","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO meteo(message) values ('test')","payload":"","payloadType":"date","x":110,"y":660,"wires":[["c88f2e48.c7f89"]]},{"id":"2069bd68.f7bbf2","type":"debug","z":"d28c22b3.095bd","name":"createDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":700,"wires":[]},{"id":"b0cb64ec.d43b18","type":"function","z":"d28c22b3.095bd","name":"Reformat-Tweeter","func":"tempmsg = msg;\nmsg={};\n\nmsg.payload = tempmsg.payload;\nmsg.media = tempmsg.media; \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":180,"wires":[["a24db297.9f50b","8beada0f.50f758"]]},{"id":"a24db297.9f50b","type":"debug","z":"d28c22b3.095bd","name":"SocialMediaDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"7342b8de.17d308","type":"inject","z":"d28c22b3.095bd","name":"Select All ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT *      FROM    meteo     WHERE   ID = (SELECT MAX(ID)  FROM meteo);","payload":"","payloadType":"date","x":100,"y":740,"wires":[["c88f2e48.c7f89"]]},{"id":"ce13f78a.5d6b38","type":"sqlitedb","db":"/tmp/meteo","mode":"RWC"},{"id":"91520e18.942d9","type":"telegram bot","botname":"kushalbot","usernames":"KU5HAL","chatids":"-691280591","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]
